body {
  font-size: 14px;
  font-family: Verdana, sans-serif;
  padding: 20px;
  background: rgb(173, 175, 173);
}

h1 {
  font-size: 22px;
  font-weight: normal;
  color: #fff;
}

li {
  line-height: 2;
}

/* 入力フォーム */
input[type="text"] {
  padding: 6px 8px;
  font-size: 14px;
  width: 300px;
  border: 1px solid blue;
  outline: 0;
}

h1 > button {
  float: right;
  width: 90px;
  height: 30px;
}

.hidden {
  display: none;
}
/* 吹き出し */
section {
  position: relative;
  padding: 0.5em 0.7em;
  margin: 2em 0;
  background: #fff;
  color: #666;
  font-weight: normal;
}
section:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 30px;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
  width: 0;
  height: 0;
}
section ul {
  margin: 0; 
  padding-left: 20px;
}